# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/

# MySQL / local files
*.sql.bak